<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
</head>

<body>

  <header class="hero-section"> 
    <div class="hero">
      <h1 class="hero__heading">Where are you going next?</h1>
      <p class="hero__subheading">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi porro sapiente illo dolore autem mollitia.</p>
      <form action="#" class="hero__form" id="form">
        <div class="hero__form-box">
          <label for="date-depart">Destination</label>
          <input type="text" id="city" placeholder="Name of the city">
        </div>
        <div class="hero__form-box">
          <label for="date-depart">Depart</label>
          <input type="date" name="" id="date-depart">
        </div>
        <div class="hero__form-box">
          <label for="date-depart">Return</label>
          <input type="date" name="" id="date-return">
        </div>
        <div class="hero__form-box">
          <input type="submit" name="" id="submit" class="hero__form-btn">
        </div>      
      </form>
    </div>
  </header>
  <section class="dashboard-section">
    <div class="dashboard shadow-xs">
      <div class="dashboard__left">
        <h3 class="dashboard__left-heading">Your trip to <span id="city-span">Madrid</span></h3>
        <p class="dashboard__left-timer"><span id="countdown"></span> days left</p>
        <img src="" alt="" class="dashboard__left-img">
      </div>
      <div class="dashboard__right">
        <div id="" class="weather-card">
          <div class="weather-card__city" id="city">Madrid</div>
          <div class="weather-card__date" id="date">19/08/2020</div>
          <div class="weather-card__temperature" id="temperature">23 Degrees</div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
      <p>
        Built with love by Ruben Garcia from Edinburgh, UK.
      </p>
  </footer>


</body>

</html>