<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
</head>

<body>
  <section class="hero-section">
    <div class="hero">
      <h1 class="hero__heading">Where are you going next?</h1>
      <p class="hero__subheading">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi porro sapiente illo
        dolore autem mollitia.</p>
      <form action="#" class="hero__form" id="form">
        <div class="hero__form-box">
          <label for="city">Destination</label>
          <input type="text" id="city" placeholder="Name of the city">
        </div>
        <div class="hero__form-box">
          <label for="date-depart">Country</label>
          <select name="" id="countries">
            <option value="GB">UK</option>
            <option value="US">US</option>
            <option value="ES">Spain</option>
          </select>
        </div>
        <div class="hero__form-box">
          <label for="date-depart">Depart</label>
          <input type="date" name="" id="date-depart">
        </div>
        <div class="hero__form-box">
          <label for="date-return">Return</label>
          <input type="date" name="" id="date-return">
        </div>
        <div class="hero__form-box">
          <input type="submit" name="" id="submit" class="hero__form-btn">
        </div>
      </form>
    </div>
    <div class="dashboard shadow-xs">
      <div class="dashboard__left">
        <h3 class="dashboard__left-heading">Your trip to <span id="city-span">Madrid</span></h3>
        <p class="dashboard__left-timer"><span id="countdown">7 days</span></p>
        <img src="" alt="" class="dashboard__left-img  shadow-xs" id="city-img">
      </div>
      <div class="dashboard__right">
        <div id="" class="weather-card">
          <h4 class="weather-card__city" id="weather-city">Madrid</h4>
          <p class="weather-card__date" id="weather-date">09/12/1990</p>
          <p class="weather-card__title" id="weather-title">Scattered clouds</p>
          <div class="">
            <img src="" alt="" id="weather-img" class="weather-card__img">
          </div>
          <div>
            <span class="weather-card__maxtemp" id="weather-maxtemp">18</span>
            <span class="weather-card__mintemp" id="weather-mintemp">29</span>
          </div>
          <h4 class="weather-card__duration-heading" id="weather-dur-heading">Trip Duration</h4>
          <p class="weather-card__duration-value" id="weather-dur-value">5 days</p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <p>
        Built with love by Ruben Garcia from Edinburgh, UK.
      </p>
    </footer>
  </section>
</body>
</html>